<table style="width: 30%">
<tr>
<td><b>Tutor Name</b></td><td><b>Subjects tutored</b></td>
</tr>
<tr><td>Winton Haisler</td><td>Java, MS Office, Python, C++, C#, Data Structures, Assembly Language, Unix I, PC Assembly, Databases, Software Testing, SQL, Visual Basic</td></tr>
<tr><td>Anthony Johnson</td><td>git, C#, JavaScript, Linux, MySQL, HTML, CSS, PHP, Python and C++.</td></tr>
<tr><td>Cory Munselle</td><td>MS Office, Python, C++, Data Structures, UNIX, Personal Computer Hardware, CompTIA A+</td></tr>
<tr><td>Derek Ratcliff</td><td>Firewalls and Network Security, Routers, TCP/IP, Novell NetWare</td></tr>
<tr><td>Michael Harper</td><td>Python, C++, Unix, Oracle, Programming Fundamentals, ComOrg./Machine Language, Data Structures, MS Office</td></tr>
<tr><td>Alex Carr</td><td>Networking, Routers, Firewalls, TCP/IP, Unix.</td></tr>
<tr><td>Minghua Liu</td><td>All programming subjects</td></tr>
<tr><td>Rooster Richard</td><td>All programming subjects</td></tr>
</table>
{%- if site.texture.analytics_id -%}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.texture.analytics_id }}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', '{{ site.texture.analytics_id }}');
</script>
{%- endif -%}

{%- if site.texture.showPicker -%}
<div id="texture-picker">
	<div style="display:flex;justify-content: space-between">
		<p>Select Texture</p>
		<p><a id="hidePicker" href="#">Hide</a></p>
	</div>
	<div class="texture-colors">
		<div id="black"></div>
		<div id="blue"></div>	
		<div id="red"></div>	
		<div id="purple"></div>		
		<div id="green"></div>
	</div>
	<p class="info">You can use the <b>showPicker</b> property in _config.yml to hide this picker permanently.</p>
	<p class="info">You can use the <b>texture</b> property in _config.yml to apply a texture permanently.</p>
</div>
<script src="{{ "/assets/js/picker.js" | relative_url }}"></script>
{%- endif -%}

{%- if site.texture.useMathJax -%}
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{%- endif -%}
<footer>
	Powered by <a href="https://www.tawk.to/legal/">tawk.to</a>. Hosted at <a href="https://roosterrichard.github.io/acctutor/">github</a>. Made with ♥ by <a href="https://davinlawrence.com">Davin</a>.
</footer>
