<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
<title>{{ page.title | default: site.title }}</title>
{% seo %}

<!--Start of Tawk.to Script-->
<script type="text/javascript">
    function updateStatus() {
        let pageStatus = Tawk_API.getStatus();
        let tutoring = document.getElementById("tutoring-available");
        console.log(pageStatus);

        if (pageStatus === "online") {
            Tawk_API.maximize();
            Tawk_API.showWidget();
            tutoring.innerHTML = "<h3>Tutoring is currently <span style=\"color: green; \">available</span>!</h3>";
        }
        else if (pageStatus === "away") {
            Tawk_API.maximize();
            Tawk_API.showWidget();
            tutoring.innerHTML = "<h3>Tutoring is <span style=\"color: darkgoldenrod; \">busy</span>.</h3>";
        }
        else {
            tutoring.innerHTML = "<h3>Tutoring is <span style=\"color: red; \">unavailable</span>. Check calendar below for available tutoring times.</h3>";
        }
    }
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/5e6797fdeec7650c331f4216/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        Tawk_API.onLoad = function() {
            Tawk_API.maximize();
            updateStatus();
        };
        Tawk_API.onStatusChange = function(status) {
            updateStatus();
        }
    })();
</script>
<!--End of Tawk.to Script-->